<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20408793777-93hdcmuu7r49c7q9qef17cb9bpvhefg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20408793777-93hdcmuu7r49c7q9qef17cb9bpvhefg4</string>
	<key>API_KEY</key>
	<string>AIzaSyBU8652ZjgP7jqaR0TxYDPjO_EMUdcCuuU</string>
	<key>GCM_SENDER_ID</key>
	<string>20408793777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ameliacitra</string>
	<key>PROJECT_ID</key>
	<string>lovebirds-b6f28</string>
	<key>STORAGE_BUCKET</key>
	<string>lovebirds-b6f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20408793777:ios:c06d558fab8949d2acc090</string>
</dict>
</plist>